<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>

<div id="speakers-map"></div>
<script>
 var mymap = L.map('speakers-map').setView([30, 10], 1.35);
 L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/streets-v11/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiZ2phc3NvIiwiYSI6ImNsbTgwamRoMTA0eHgzcHI3cTdudmkxa24ifQ.DfR0MblRq66F97Z7Qe6BHQ', {
		 maxZoom: 18,
     attribution: '© <a href="https://www.mapbox.com/contribute/">Mapbox</a> © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
 }).addTo(mymap);
 {{ $talks := where site.Pages "Section" "talks" }}
 {{ range $talks.GroupByParam "affiliation" }}
 L.marker([{{ range first 1 .Pages }}{{ .Params.Latitude }}, {{ .Params.Longitude }}{{ end }}]).addTo(mymap).bindPopup("{{ range first 1 .Pages }}{{ .Params.Affiliation }}{{ end }}{{ range .Pages }}{{ if .Params.Latitude }}<a href='{{ .RelPermalink }}' style='display: block;'>{{ .Params.speaker.Name }}</a>{{ end }}{{ end }}").closePopup();
 {{ end }}
</script>

