{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<!--{{ partial "announcements.html" . }}-->
{{ partial "holiday-info.html" . }}

{{ partial "about-info.html" . }}
{{ partial "bbb-info.html" . }}

<span class="section__title">Archive</span>

{{ partial "speakers-map.html" . }}

<ul class="posts">
    {{ with .Data.Pages }}
    {{ partial "posts-list.html" . }}
    {{ end }}
</ul>

{{ end }}

{{ define "footer" }}
{{ if .Site.GoogleAnalytics }}
<!-- Google Analytics -->
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
{{ partial "footer/font-awesome-js.html" . }}
{{ end }}
