<div class="server_info">
    <div class="server_info-icon"><i class="fas fa-server"></i></div>
    <div class="server_info-text">{{ .Get "product" }}</div>
</div>
<div class="server_info">
    <div class="server_info-icon"><i class="fab fa-linux"></i></div>
    <div class="server_info-text">{{ .Get "os" }}</div>
</div>
<div class="server_info">
    <div class="server_info-icon"><i class="fas fa-microchip"></i></div>
    <div class="server_info-text">{{ .Get "cpu" }}</div>
</div>
<div class="server_info">
    <div class="server_info-icon"><i class="fas fa-memory"></i></div>
    <div class="server_info-text">{{ .Get "ram" }}</div>
</div>
{{ .Inner | markdownify }}
